@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Variables */
/* General */
body {
  background: linear-gradient(#170c26 50%, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

div, section, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div {
  padding: 20px 0;
}

img {
  width: 100%;
  overflow: hidden;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

#choose-level,
#level-details,
#result {
  width: 90%;
  background: #FFFFFF;
  border: #cc99ff 5px solid;
}

/* Text Styles */
h1, h2, h3, h4, h5, p, button, a {
  font-family: "Raleway", Arial, sans-serif;
  margin: 20px 0;
}

h1 {
  color: #FFFFFF;
  margin: 10px 0;
}

h2 {
  margin-top: 0;
  font-size: 32px;
}

h2, h5 {
  color: #9b53c0;
}

h3, a {
  color: #cc99ff;
}

h3 {
  margin: 30px 0;
}

h5 {
  margin: 10px 0;
}

p {
  color: #000000;
}

button {
  background: linear-gradient(30deg, #7f4cbe 0%, #d462c5 100%);
  color: #FFFFFF;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 3px;
}
button a {
  color: #FFFFFF;
  text-decoration: none;
}

/* About Section */
.about {
  width: 100%;
  padding: 0;
}

.title {
  width: 100%;
}

/* Choose Level */
#choose-level h3 {
  margin-bottom: 0;
  color: #9b53c0;
}
#choose-level p {
  text-decoration: underline;
  color: #9b53c0;
}

#level-details p {
  color: #000000;
  text-decoration: none;
  margin-top: 0px;
  width: 90%;
}
#level-details button {
  margin: 30px 0 10px 0;
}

/* Result */
.trick, .cta, .reset {
  padding: 0;
}

.trick p {
  margin-bottom: 0;
}

.cta button,
.reset button {
  margin: 0;
}

.cta p:nth-of-type(2) {
  margin: 10px 0;
}

.reset {
  margin: 40px 0 0;
}

/* Footer */
footer {
  margin-top: 40px;
}
footer p {
  color: #FFFFFF;
}
footer .logo {
  padding-bottom: 0;
}
footer .logo a {
  margin: 0;
}
footer .logo img {
  width: 70%;
}
footer .attribution {
  padding-top: 0;
}
footer .attribution p {
  color: #000000;
}
footer .attribution p a {
  color: #9b53c0;
}

@media screen and (min-width: 768px) {
  .main-content {
    width: 100%;
  }

  img {
    width: 70%;
  }

  button {
    min-width: 120px;
  }

  .level-buttons,
.cta-buttons {
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    padding: 0;
  }

  .cta p {
    width: 80%;
  }

  .cta-buttons button {
    min-width: 220px;
  }

  footer {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  footer .logo {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-left: 30px;
  }
  footer .logo img {
    width: 40%;
  }
  footer .attribution {
    padding: 0;
    margin-right: 30px;
  }
  footer .attribution p, footer .attribution a {
    font-size: 10px;
  }
}
@media screen and (min-width: 1024px) {
  #choose-level,
#level-details,
#result {
    width: 70%;
  }
}

/*# sourceMappingURL=main.css.map */
